@import '../../styles/main.scss';

.searchIcon{
    background-color: $color-secondary-lighter;
    line-height: 1;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFF;
    font-size: 2rem;
}

.inputStyle{
    min-width: 40rem;
    min-height: 4rem;
    border-radius: 2.4rem;
    padding: 4px;
    input{
        margin-left: 8px;
        border-radius: 2.4rem;
    }
}