
@import '../../styles/main.scss';


.itemGridComponent{
    display: flex;
    flex-direction: column;
    background: $color-light-4;
    overflow: hidden;

    cursor: pointer;
    transition: 0.3s all;
    border-radius: $radius-box;
    border: 1px solid $color-border;
    &:hover{
        box-shadow: $shadow-child;
    }

    .boxTopItem{
        position: relative;
        z-index: 1;
        padding: $space-padding-box;
        min-height: 20rem;
        height: 14.65vw;

        .boxImageItem{
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            .imageItem{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .boxCompany{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .boxCompanyDetail{
            display: flex;
            align-items: center;
            .iconCompany{
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 8px;
            }
            .boxName{
                display: flex;
                flex-direction: column;
                .name,
                .company{
                    color: $color-light-4;
                }
               .name{
                    font-weight: 600;
               } 
            }
        }
        .postTime{
            color: $color-light-4;
        }
    }


    .detailItemContainer{
        flex: 1;
        padding: $space-padding-box;
        .boxTopDetail{
            display: flex;
            justify-content: space-between;
            .boxStatus{
                display: flex;
                .sell, .expertise{
                    padding: 2px 6px;
                    color: $color-light-4;
                    border-radius: $radius-box-text;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .sell{
                    background-color: $color-dark-0;
                }
                .expertise{
                    margin-left: 8px;
                    background-color: $color-orange-1;
                }
            }
            .boxRate{
                display: flex;
                justify-content: center;
                align-items: center;
                .numRate{
                    font-weight: 700;
                    color: $color-dark-1;
                }
                .iconRate{
                    margin-left: 8px;
                    font-size: 5rem;
                    margin-bottom: 1px;
                    // width: 2rem;
                    // height: 2rem;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                }
            }
        }

        .titleDetail{
            color: $color-dark-0;
            margin-top: 1.6rem;
            font-weight: 700;
        }
        .boxPrice{
            display: flex;
            align-items: center;
            padding: 8px 0;
            margin-top: 8px;
            border-bottom: 1px solid $color-border;
            border-top: 1px solid $color-border;
            .iconPrice{
                margin-left: 2px;
                font-size: 6rem;
            }
            .price{
                margin-left: 5px;
                color: $color-dark-0;
                font-weight: 700;
            }
        }
        .detailBottomContainer{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            
            .boxItemDetailBottom{
                display: flex;
                align-items: center;
                padding: 4px 8px;
                border: 1px solid $color-border;
                border-radius: $radius-sm;
                margin-right: 8px;
                margin-top: 8px;

                .iconItemDetail{
                    width: 1.3rem;
                    height: 1.3rem;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
                .contentItemDetail{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    color: $color-dark-2;
                    margin-left: 8px;
                }
            }
        }


    }
}