@import '../../../../ui-components/src/styles/variable';

.ant-table-thead {
  background-color: red !important;
}
.customizeTable {
  :global {
    .ant-table-thead {
      display: none;
    }
    .ant-table-tbody > tr {
      position: relative;
      padding: 10px;
      border-radius: 5px;
      & > td {
        border-bottom: none;
        &:first-child {
          padding-left: 30px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 12px;
        right: 12px;
        bottom: 5px;
        border-radius: 12px;
        border: 1px solid $color-light-l05;
      }
      &:hover > td {
        background: unset;
      }
    }
  } 
}

:global {
  // agency table scope
  .agencyTable {
    .ant-table-cell:nth-last-child(2) {
      display: none;
    }
  }

  // Realestate table scope
  .realEstateTable {}
}


@media screen and (max-width: 425px) {
  :global {
    // agency table scope
    .ant-table-tbody > tr > td {
      display: block;
      padding: 9px 26px;
    }
    .agencyTable {
      .ant-table-thead {
        display: none;
      }

      .ant-table-cell:nth-child(1) {
        display: none;
      }

      .ant-table-cell:nth-child(2) {
        display: none;
      }

      .ant-table-cell:nth-child(3) {
        display: none;
      }

      .ant-table-cell:nth-child(4) {
        padding-top: 17px;
      }

      .ant-table-cell:last-child {
        display: none;
      }

      .ant-table-cell:nth-last-child(2) {
        display: block !important;
        padding-bottom: 16px;
      }
    }
    .realEstateTable {
    }
  }
}
