@import "../../styles/main.scss";

.customRadio{

    box-shadow: $e04;
    border-radius: 2.4rem;
    
    &,& *{
        line-height: 1 !important;
    }


    label{
        display: inline-flex;
        align-items: center;
        border-radius: 2.4rem;
        width: 3.2rem;
        height: 3.2rem;
        padding: 0;
        justify-content: center;
        &:before{
            display: none !important;
        }
        &:hover{
            color: $color-secondary;
        }
    }

    :global{
        .ant-radio-button-wrapper-checked{
            background-color: $color-secondary !important;
        }
        .ant-radio-button-wrapper{
            border-radius: 50% !important;
            span{
                height: 1.4rem;
            }
        }
    }

    .radioGroup{
        border-radius: 2.4rem;
        background-color: #fff;
        * {
            border: 0 !important;
        }
    }
}