// Heading
h1{
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: red;
}

h2{
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
}

h3{
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
}

// Text
.t16{
    font-size: 16px;
    height: 20px;
    text-transform: capitalize;
}

.t14{
    font-size: 14px;
    height: 18px;
    letter-spacing: 0.4px;
}

// Content
.default{
    font-size: 14px;
    line-height: 20px;
}

.small{
    font-size: 12px;
    line-height: 16px;
}

.label{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
