//Colors Variables

$color-dark-0: #001133;
$color-dark-1: #232E43;
$color-dark-2: #565F71;
$color-dark-3: #8D95A5;
$color-dark-4: #C9CED9;
$color-dark-4: #E5E6E6;
$color-dark-5: #CACCCE;


$color-light-0: #E5E7EB;
$color-light-1: #EBECF0;
$color-light-2: #F2F3F5;
$color-light-3: #FAFBFC;
$color-light-4: #FFFFFF;

$color-blue-0: #005CC4;
$color-blue-1: #0073F7;
$color-blue-2: #5BA0EF;
$color-blue-3: #9DC8F9;
$color-blue-4: #E5F1FF;
$color-blue-5:  #1890FF;


$color-red-0: #AF1616;
$color-red-1: #F70000;
$color-red-2: #EF5B5B;
$color-red-3: #F99D9D;
$color-red-4: #FFE5E5;

$color-green-0: #05A862;
$color-green-1: #06C170;
$color-green-2: #5BEFAF;
$color-green-3: #9DF9D1;
$color-green-4: #E5FFF4;

$color-yellow-0: #E5B800;
$color-yellow-1: #FFCC00;
$color-yellow-2: #FDDD48;
$color-yellow-3: #FDED72;
$color-yellow-4: #FFFAE5;

$color-gold-0: #D48806;
$color-gold-1: #FAAD14;
$color-gold-2: #FFC53D;
$color-gold-3: #FFD666;
$color-gold-4: #FFF1B8;

$color-orange-0: #E67A00;
$color-orange-1: #FF8800;
$color-orange-2: #FDAC42;
$color-orange-3: #FCCC75;
$color-orange-4: #FFF8E6;
$color-orange-5: #FFC966;


$color-purple-0: #4D0099;
$color-purple-1: #6600CC;
$color-purple-2: #AC5DD9;
$color-purple-3: #DDA5E9;
$color-purple-4: #FFE6FF;

$color-border: #F4F5F5;




//shadow
$shadow-child: 0 0 8px 1px rgba(0, 0, 0, 0.05);

// border
$radius-xl: 2.4rem;
$radius-box: 1.6rem;
$radius-box-number: 1.4rem;
$radius-box-text: 6px;
$radius-sm: 8px;

//space
$space-box-large: 2.4rem;
$space-padding-box: 1.6rem;
$space-box-bottom: 1rem;
$space-item-box: 8px;

$color-secondary: #003061;
$color-secondary-darker: #000D19;
$color-secondary-lighter: #2E96FF;

$color-dark-d05: #001133;

$color-light-l04: #EBECF0;
$color-light-l05: #E5E7EB;

$color-white-default: #ffffff;

// Shadow
$e00: none;
$e01: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 0.5px 2px rgba(96, 97, 112, 0.08);
$e02: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.04);
$e04: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.04);
$e05:0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.04);
$e06: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 20px 32px rgba(96, 97, 112, 0.08);