@import "../../styles/main.scss";

.customRadio{

    *{
        line-height: 1;
    }

    :global{
        .ant-radio-button-wrapper{
            border-radius: 2.4rem;
            border: none;
            display: inline-flex;
            align-items: center;
            &:before{
                display: none;
            }
        }
    
        .ant-radio-group{
            border: 1px solid #E5E7EB;
            border-radius: 2.4rem;

        }
    }

    label{
        border-radius: 2.4rem;
        height: 3.2rem;
        &:before{
            display: none;
        }
    }
}