@import "../../styles/main.scss";
.filterContainer{
    display: flex;
    justify-content: space-between;
    .boxLeftFilter{
        display: flex;
        align-items: center;
        .titleType{
            margin-right: 1.6rem;
            color: $color-dark-2;
            span{
                margin-left: 5px;
                font-weight: 700;
            }
        }
    }
}

.advanceFilterContainer{
    display: flex;
    align-items: center;
    :global{
        ul{
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li{
            padding: 4px;
            border: 1px solid #EBECF0;
            padding: 4px 1.6rem;
            border-radius: 2.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F2F3F5;

            &:not(:last-child){
                margin-right: 4px;
            }

            &:last-child{
                width: 3.2rem;
                height: 3.2rem;
                line-height: 1;
                background-color: #E5F1FF;
                color: $color-secondary-lighter;
                border-color: #E5f1ff;
            }
        }
    }
}

.advanceFilter{
    border: 1px solid #EBECF0;
    border-radius: 2.4rem;
    padding: 4px;
    margin-right: 1.6rem;
}