.detail-agency-screen{
    position: relative;
    
    .box-image-background-top{
        height: 35.5vh;
        width: 100vw;
        position: absolute;
        z-index: 0;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .container-detail-agency{
        position: relative;
        padding: 0 $radius-xl $radius-xl;
        margin-top: 20vh;
        display: flex;
        
        &__member-detail{
            margin-right: 1.8rem;
        }
    }
}