.agency-members-container{
    background-color: $color-light-4;
    width: 31rem;
    padding: 3.2rem $space-box-large $space-box-large;
    border: 1px solid $color-light-1;
    box-shadow: $e05;
    border-radius: $radius-xl;
    .box-button-agency{
        display: flex;
        flex-direction: column;
        margin-top: 1.6rem;
        padding: 1.6rem 0 2.2rem;
        border-bottom: 1px solid $color-border;
        border-top: 1px solid $color-border;
        gap: 8px;
    }
    .box-parameters{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $space-item-box;
        &:first-child{
            margin-top: 1.6rem;
        }

        &__title{
            color: $color-dark-1;
        }
        &__number{
            font-weight: 700;
            color: $color-dark-1;
        }
    }
    .box-icon-contact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.6rem 0;
        padding: 1rem 0;
        border-bottom: 1px solid $color-border;
        border-top: 1px solid $color-border;
        .item-icon-contact{
            width: 1.56rem;
            height: 1.56rem;
            margin-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.3s all;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .description-agency{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .view-more{
        margin-top: 4px;
        color: $color-blue-5;
        font-weight: 700;
        margin-bottom: 1.6rem;
    }
    .number-review{
        padding: 1.6rem 0 8px;
        border-top: 1px solid $color-border;
        
    }
}