.partner-container{
    padding: 1.6rem 0;
    border-bottom: 1px solid $color-border;
    &__name{
        font-weight: 700;
    }
    .container-avatar-partner{
        display: flex;
        
        .box-item-avatar-partner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 1.6rem;
            margin-left: 1.3rem;
            &:first-child{
                margin-left: 0;
            }
        }
        .box-avatar-partner{
            position: relative;
            width: 5.6rem;
            height: 5.6rem;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid $color-light-4;
            .image-avater-partner{
                object-fit: cover;
            }
        }
        .name-partner{
            text-align: center;
            margin-top: 8px;
        }
    }
    .box-button{
        display: flex;
        margin-top: 1.6rem;
    }
}