.component-rate-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
    border: 1px solid $color-border;
    border-radius: $radius-sm;
    box-shadow: $e05;
    .box-num-rate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1.9rem;
        &__number{
            font-weight: 700;
            color: #000000;
        }
        &__description{
            margin-top: 4px;
        }
    }
    .scale-bar-container{
        display: flex;
        flex: 1;
        flex-direction: column;
        .item-scale-bar{
            height: 4px;
            width: 100%;
            margin-top: 8px;
            background-color: $color-dark-4;
            border-radius: 1.6rem;
            position: relative;
            &:first-child{
                margin-top: 0;
            }
            &__active{
                position: absolute;
                top: 0;
                bottom: 0;
                border-radius: 1.6rem;
                width: 0;
                background-color: $color-orange-5;
            }
        }
    }
    .container-star-rate{
        width: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
        &--auto-width{
            .box-star-rate{
                display: flex;
                width: 100%;
                margin-top: 5px;
                &:first-child{
                    margin-top: 0;
                }
                .icon-rate{
                    color: $color-dark-5;
                    font-size: 7px;
                    margin-left: 5px;
                    &__active{
                        color: $color-orange-5;
                    }
                }
            }
        }
        
    }
}