//Scope
.mgi-header{
    display: flex;
    padding: 2.2rem 2.4rem;
    align-items: center;

    .logo{
        min-width: 12rem;
    }
    
    .header-form-search{
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .phone-info{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $color-secondary;
        padding: 8px 1.6rem 8px 1.05rem;
        background: #E5F2FF;
        border-radius: 2.4rem;
        font-weight: 600;
        i{
            font-size: 1.56rem;
        }
    }
}