@import '../../../ui-components/src/styles/variable';

.card {
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.04);
  border-radius: 16px;
  background-color: #ffffff;
  padding: 16px;
  margin: 16px;
}

.address {
  margin: 16px 0;
}

.address__key {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2e2f30;
}

.address__value {
  font-size: 14px;
  line-height: 20px;
  color: #2e2f30;
}

.wrap__left {
}

.main__content_left {
}

.wrap__btn {
  margin-top: 16px;
}

.btn__left {
  padding-right: 8px;
}

.btn__right {
  padding-left: 8px;
}

.btn__follow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e96ff;
  border-radius: 8px;
  padding: 12px 0;
  color: #fff;
  & div {
    margin-left: 10px;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.btn__chat {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafbfc;
  border-radius: 8px;
  padding: 12px 0;
  color: #fff;
  border: 1px solid #e5e7eb;
  color: #001133;
  & div {
    margin-left: 10px;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.main__left_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  border-radius: 40px;
}

.wrap__left_bottom {
  display: flex;
  align-items: center;
}

.left__info {
  margin: 0 16px;
}

.info__name {
  color: #001133;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.info__detail {
  color: #001133;
  font-size: 12px;
  line-height: 16px;
}

.social {
  display: flex;
  padding-top: 16px;
}

.social__icon {
  margin: 0 6px;
}

.wrap__right_bottom {
  display: flex;
}

.right__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb;
  width: 32px;
  height: 32px;
  border-radius: 24px;
  background: #f2f3f5;
  margin: 0 7px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  } 
}

.main__content_right {
}

.card__protected {
  background-color: #e5fff4;
}

.protected__icon {
  color: #01cb9b;
  font-size: 18px;
}

.wrap__content {
  display: flex;
}

.wrap__content_support {
  margin-left: 12px;
}

.support_user {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #131817;
}

.detail_support {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.8px;
  color: #5f6163;
}

.left__padding {
  margin: 8px;
}

.project__type {
  display: flex;
  justify-content: space-between;
}

.project__left {
  display: flex;
  align-items: center;
}

.star {
  display: flex;
  align-items: center;
  i {
      color: #FFC52F  
  }
}

.project__status_p {
  background: #001133;
  border-radius: 4px;
  padding: 2px 6px;
  color:  #FFFFFF;
}

.project__status_o {
  background: #FF5C5C;
  border-radius: 4px;
  padding: 2px 6px;
  color:  #FFFFFF;
  margin-left: 14px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #001133;
  margin-top: 16px;
}

.project__value {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.items__t1 {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #001133;
  i {
    color: #FF8800
  }
  div {
    margin-left: 3px;
  }
}

.items__t2 {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #001133;
  i {
    color: #05A660
  }
}

.unit {
  font-size: 12px;
  line-height: 16px;
  color: #232E43;
}

.project__info {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
  color: #131817;
  margin-bottom: 8px;
}

.project_more_detail {
  font-size: 14px;
  line-height: 22px;
  color: #2E2F30;
}

.seemore {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #1890FF;
  margin-top: 8px ;
  width: fit-content;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.line {
  border: 1px solid #F4F5F5;
  margin: 24px 0;
}

.project_inside {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
  color: #131817;
}

// Agency detail table

.main_image {
  width: 36px;
  height: 36px;
  border-radius: 12px;
}

.table__name {
  font-size: 14px;
  line-height: 18px;
  color: $color-secondary;
  letter-spacing: 0.4px;
}

.wrap__detail {
  display: flex;
}

.detail__item  {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid $color-light-l04;
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 8px;
  align-items: center;
  & i {
    margin-right: 8.5px
  }
}

.wrap__price {
  & i {
    margin-right: 6px;
    color: #05A660;
    font-size: 20px;
  }
  display: flex;
  align-items: center;
}

.price__value {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $color-dark-d05;
}