@import '../../../ui-components/src/styles/variable';

.mainImage {
  width: 32px;
  height: auto;
}

.agencyName {
  font-size: 14px;
  line-height: 18px;
  color: $color-secondary;
  letter-spacing: 0.4px;
}

.timeline {
  font-size: 12px;
  line-height: 16px;
  color: $color-secondary;
}

.description {
  font-size: 12px;
  line-height: 16px;
  color: $color-secondary;
}

.type {
  padding: 3px 6px;
  border-radius: 5px;
  background-color: $color-dark-d05;
  color: $color-white-default;
  margin-right: 5px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
}

.wrapType {
  display: flex;
}

.backgroundYellow {
  background-color: #FF8800;
  padding: 3px 6px;
  border-radius: 5px;
  color: $color-white-default;
  margin-right: 5px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
}

.wrapPrice {
  & i {
    margin-right: 6px;
    color: #05A660;
    font-size: 20px;
  }
  display: flex;
  align-items: center;
}

.priceValue {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $color-dark-d05;
}

.wrapDetail {
  display: flex;
}

.detailItem {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid $color-light-l04;
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 8px;
  align-items: center;
  & i {
    margin-right: 8.5px
  }
}

.wrapStar {
  display: flex;
  align-items: center;
  & i {
    margin-left: 1px;
    color: #FFC52F;
  }
}

.starValue {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $color-secondary;
}

.wrapStarMobile {
  display: flex;
  display: none;
}

.address {
  display: flex;
}
.addressValue {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap; 
  width: calc(100% - 40px); 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.addressTitle {
  font-size: 12px;
  line-height: 16px;
}


// ---------------------------------- Responsive ----------------------------------


@media screen and (max-width: 425px) {
  .typeRecord {
    display: flex;
    justify-content: space-between;
  }
  .wrapName {
    display: none;
  }

  .image {
    display: none;
  }

  .wrapStarMobile {
    display: flex;
    & img {
      margin-left: 2px;
    }
  }

  .wrapStar {
    display: block;
  }
}