.App {
  font-family: sans-serif;
}

.header {
  text-align: center;
}

.carousel__container {
  position: relative;
  border-radius: 16px;  
}

.selected__image {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.wrap__carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel {
  position: relative;
  background-color:#000000;
  opacity: 0.7;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.carousel__images {
  display: flex;
  max-width: 100%;  
  overflow-x: hidden;
  justify-content: center;
}

.carousel__image-selected {
  border: 3px solid #ffa700 !important;
}

.carousel__image {
  margin-right: 10px;
  height: 42px;
  min-width: 68px;
  border: 3px solid #ffa70000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transform: matrix(-1, 0, 0, 1, 0, 0)
}

.carousel__button {
  position: absolute;
  top: 40%;
}

.carousel__button-left {
  left: 10px;
}

.carousel__button-right {
  right: 10px;
}

