@import "./header";

.main-layout{
    min-height: calc(100vh - 10.4rem);
    background-color: #f1f2f4;
    border-radius: 2.4rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &--not-padding{
        padding: 0;
    }
}

.container{
}