@import '../../../ui-components/src/styles/variable';

.mobile {
  display: none;
}
.desktop {
  display: block;
}
.mainImage {
  width: 32px;
  height: auto;
}

.realEstateName {
  font-size: 14px;
  line-height: 18px;
  color: $color-secondary;
  letter-spacing: 0.4px;
}

.timeline {
  font-size: 12px;
  line-height: 16px;
  color: $color-secondary;
}

.description {
  font-size: 12px;
  line-height: 16px;
  color: $color-secondary;
}

.wrapDetail {
  display: flex;
}

.detailItem {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid $color-light-l04;
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 8px;
  align-items: center;
  & i {
    margin-right: 8.5px
  }
}

.wrapDetail:last-child {
  float: right;
}

// real estate table mobile

.card {
  display: flex;
  border: 1px solid #F4F5F5;
  border-radius: 16px;
  margin: 8px 0;
}

.left {
  img {
    width: 133px;
    height: 133px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}

.right {
  padding: 16px;
  flex: 1;
  .high {
    padding: 2px 6px;
    background: #003061;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2px;
  }
  .realMobileStar {
    display: flex;
    align-items: center;
    & div {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.4px;
      color: #232E43;
      margin-right: 2px;
    }
    & i {
      color: #FFC52F;
    }
  }
  .realMobileName {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #001133;
  }
  .wrapQuality {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
}

.wrapItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

// ---------------------------------- Responsive ----------------------------------


@media screen and (max-width: 425px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .typeRecord {
    display: flex;
    justify-content: space-between;
  }
  .wrapName {
    display: none;
  }

  .image {
    display: none;
  }

  .wrapStarMobile {
    display: flex;
    & img {
      margin-left: 2px;
    }
  }

  .wrapStar {
    display: block;
  }
}