@import '../../styles/main.scss';
.avatarAgencyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .boxAvatar{
        width: 13.2rem;
        height: 13.2rem;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.2);
        overflow: hidden;
        .imgAvatar{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .nameAgency{
        margin-top: 1.6rem;
        font-weight: 700;
    }
    .typeAgency{
        margin-top: 4px;
        font-weight: 400;
    }
}