@import "../../../styles/main.scss";

.tabLayout{
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tabContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.tabsControl{
    background-color: #fff;   
    border-radius: 2.4rem 2.4rem 0 0;
    position: relative;
    // &:before{
    //     background-color: #fff;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     left: 50px;
    //     content: "";
    //     top: 50%;
    //     z-index: -1;
    // }
    // &:after{
    //     width: 100px;
    //     height: 100%;
    //     position: absolute;
    //     background-color:#f1f2f4;
    //     content: "";
    //     left: 100%;
    //     top: -2px;
    //     border-radius: 1.2rem;
    // }
}

.tabList{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;
    padding: 8px 8px 18px;
    position: relative;
    &:after{
        height: 1px;
        width: 95%;
        left: 2.5%;
        background-color: #F2F3F5;
        bottom: 2px;
        content: "";
        position: absolute;
    }
}

.tabItem{
    background-color: #F2F3F5;
    padding: 8px 1.6rem;
    border-radius: 2.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:not(:last-child){
        margin-right: 8px;
    }

    &.tabItemActive{
        background-color: $color-dark-0;
        color: $color-light-4;
    }

    .iconClose{
        color: #8D95A5;
        cursor: pointer;
        // margin: 01.1rem;
        margin-left: 6px;
        display: flex;
        align-items: center;
    }
    .totalItem{
        margin-left: 8px;
        padding: 2px 6px;
        background-color: $color-light-4;
        text-align: center;
        border-radius: $radius-box-number;
        color: $color-dark-0;
    }
}

.tabAddItem{
    line-height: 1;
    padding: 0;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabItemActive{
    background-color: $color-secondary;
    color: #FFF;
}

.tabContent{
    background-color: #fff;
    flex: 1;
    border-radius: 0 2.4rem 2.4rem 2.4rem;
    margin-top: -2px;
    z-index: 2;
    position: relative;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
}

.filterContainer{
    display: flex;
    justify-content: space-between;
}

.advanceFilterContainer{
    display: flex;
    align-items: center;
    :global{
        ul{
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li{
            padding: 4px;
            border: 1px solid #EBECF0;
            padding: 4px 1.6rem;
            border-radius: 2.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F2F3F5;

            &:not(:last-child){
                margin-right: 4px;
            }

            &:last-child{
                width: 3.2rem;
                height: 3.2rem;
                line-height: 1;
                background-color: #E5F1FF;
                color: $color-secondary-lighter;
                border-color: #E5f1ff;
                cursor: pointer;
            }
        }
    }
}

.advanceFilter{
    border: 1px solid #EBECF0;
    border-radius: 2.4rem;
    padding: 4px;
    margin-right: 1.6rem;
}