@import '../../styles/main.scss';
.itemAgencyContainer{
    display: flex;
    flex-direction: column;
    background: $color-light-4;
    overflow: hidden;

    cursor: pointer;
    transition: 0.3s all;
    border-radius: $radius-box;
    border: 1px solid $color-border;
    &:hover{
        box-shadow: $shadow-child;
    }
    .imgAvatar{
        width: auto;
        object-fit: cover;
        height: 17rem;
        // height: 12.45vw;
        &.imgAvatarNotRate{
        height: 21.35rem;
        // height: 15.65vw;
        }
    }
    .detailAgencyContainer{
        display: flex;
        flex-direction: column;
        padding: 0 $space-padding-box $space-box-bottom;
    }
    .boxPosition{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $space-padding-box 0 $space-item-box;
        .positionName{
            background-color: $color-dark-0;
            color: $color-light-4;
            padding: 2px 6px;
            border-radius: $radius-box-text;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;

        }
        .boxRate{
            display: flex;
            align-items: center;
            justify-content: center;
            .numRate{
                font-weight: bold;
                margin-right: 5px;
                color: $color-dark-1;
            }
        }
    }
    .nameAgency{
        margin-top: $space-item-box;
        font-weight: bold;
        color: $color-dark-0;
    }
    .boxOnSale, .boxSold{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $space-item-box;
        .onSaleName, .soldName{
            color: $color-dark-1;
        }
        .onSaleNumber, .soldNumber{
            color: $color-dark-0;
            font-weight: 600;
        }
    }
}